<br />
<br />
<br />
<br />
  Enter your search query:
<input id="txtAppointName" type="text" />
<button id="searchButton">Search</button>
<br />
<br />
<table id="tblAppointments" cellpadding="0" cellspacing="0">
    <tbody></tbody>
</table>

<script type="text/javascript">

    $(document).ready(function () {
        $("button").click(function () {
            var searchQuery = $.trim($("#txtAppointName").val());
            $("table tbody").html("");
            $.ajax
            ({
                type: "POST",
                url: "/api/Search",
                data: "\"" + searchQuery + "\"",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (appointment) {
                    var table = $("#tblAppointments");
                    table.find("tr:not(:first)").remove();
                    $.each(appointment, function (i, appointment) {
                        $("tbody").append($("<tr>"));
                        appendElement = $("tbody tr").last();
                        appendElement.append($("<td>").html('<img src=images/test.jpg width=250 class="rounded m-2">'));
                        appendElement.append($("<td>").html('<h2><a href="/appointment/details/' + appointment.appointmentId + '" class="appointment-link">' + appointment.appointment_Name + '</a></h2>'));
                        appendElement.append($("<td>").html('<h2> ' + appointment.endDate + '</h2>'));
                    });
                },
                error: function (xhr, status, error) {
                    console.log(xhr)
                }
            });
        });
    });

</script>